<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Casino Caliente</title>

	<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />

	<!-- Vendor Styles -->
	<link rel="stylesheet" type="text/css" href="vendor/slick-1.6.0/slick/slick.css"/>
	<link rel="stylesheet" href="vendor/font-awesome-4.6.3/css/font-awesome.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="vendor/formstone/dropdown.css" />

	<!-- App Styles -->
	<link rel="stylesheet" href="css/style.css" />

	<!-- Vendor JS -->
	<script src="vendor/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="vendor/slick-1.6.0/slick/slick.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script src="vendor/formstone/core.js"></script>
	<script src="vendor/formstone/touch.js"></script>
	<script src="vendor/formstone/dropdown.js"></script>

	<!-- App JS -->
	<script src="js/functions.js"></script>
</head>

<body>
<div class="wrapper">
	<header class="header">
		<div class="shell">
			<div class="nav-trigger-wrapper">
				<a href="#" class="nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div><!-- /.nav-trigger-wrapper -->

			<nav class="nav-access">
				<ul>
					<li>
						<a href="#">Quíenes somos</a>
					</li>
					
					<li>
						<a href="#">Contacto</a>
					</li>
				</ul>
			</nav><!-- /.nav-access -->

			<div class="header-content">
				<a href="#" class="logo">casino caliente</a>
				
				<nav class="nav">
					<ul>
						<li>
							<a href="#">Home</a>
						</li>
						
						<li class="has-dropdown">
							<a href="#">opciones De Diversión</a>

							<ul class="dropdown">
								<li>
									<a href="#">promociones Y Eventos</a>
								</li>
								
								<li>
									<a href="#">ubicaciones</a>
								</li>
								
								<li>
									<a href="#">caliente Club</a>
								</li>		
							</ul><!-- /.dropdown --> 
						</li>
						
						<li>
							<a href="#">promociones Y Eventos</a>
						</li>
						
						<li>
							<a href="#">ubicaciones</a>
						</li>
						
						<li>
							<a href="#">caliente Club</a>
						</li>

						<li class="desktop-hidden">
							<a href="#">Quíenes somos</a>
						</li>
						
						<li class="desktop-hidden">
							<a href="#">Contacto</a>
						</li>

						<li class="desktop-hidden tablet-hidden">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						
						<li class="desktop-hidden tablet-hidden">
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						
						<li class="desktop-hidden tablet-hidden">
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</nav><!-- /.nav -->

				<div class="socials">
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.header-content --> 

			<a href="#" class="btn-search"> 
				<i class="ico-search"></i>	

				<span></span>
			</a>

			<div class="search">
				<form action="?" method="get"> 
					<div class="search-actions">
						<label for="q" class="hidden">Search</label> 

						<input type="search" name="q" id="q" value="" placeholder="Search" class="search-field">

						<button class="search-btn">
							<i class="ico-search"></i>	
						</button> 
					</div><!-- /.search-actions -->
					
				</form>
			</div><!-- /.search -->
		</div><!-- /.shell -->
	</header><!-- /.header -->
	<div class="slider-intro anchor">
		<a href="#" class="btn-scroll">
			<i class="ico-mouse"></i>
		</a>

		<div class="slider-clip">
			<ul class="slides">
				<li class="slide fullscreen" style="background-image: url(css/images/temp/slide1.jpg);">
					<div class="slide-content">
						<div class="shell">
							<h1>Promociones <br>Y Eventos</h1>
							
							<a href="#" class="btn btn-white">ver más <i class="ico-arrow-right"></i></a>
						</div><!-- /.shell -->
					</div><!-- /.slide-content -->
				</li><!-- /.slide -->

				<li class="slide fullscreen" style="background-image: url(css/images/temp/slide1.jpg);">
					<div class="slide-content">
						<div class="shell">
							<h1>Promociones <br>Y Eventos</h1>
							
							<a href="#" class="btn btn-white">ver más <i class="ico-arrow-right"></i></a>
						</div><!-- /.shell -->
					</div><!-- /.slide-content -->
				</li><!-- /.slide -->

				<li class="slide fullscreen" style="background-image: url(css/images/temp/slide1.jpg);">
					<div class="slide-content">
						<div class="shell">
							<h1>Promociones <br>Y Eventos</h1>
							
							<a href="#" class="btn btn-white">ver más <i class="ico-arrow-right"></i></a>
						</div><!-- /.shell -->
					</div><!-- /.slide-content -->
				</li><!-- /.slide -->
			</ul><!-- /.slides -->
		</div><!-- /.slider-clip -->
	</div><!-- /.slider-intro -->

	<div class="main anchor">
		<section class="button-section">
			<div class="shell">
				<ul class="list-buttons">
					<li>
						<a href="#" class="btn btn-features">
							<i class="ico-robot"></i>
							
							<span>Máquinas de Juego</span> 
						</a>
					</li>

					<li>
						<a href="#" class="btn btn-features">
							<i class="ico-die"></i>
										
							<span>mesas de juego</span>
						</a>
					</li>
					
					<li>
						<a href="#" class="btn btn-features">
							<i class="ico-ball"></i>
										
							<span>Apuesta deportiva</span>
						</a>
					</li>
					
					<li>
						<a href="#" class="btn btn-features">
							<i class="ico-horse"></i>
										
							<span>apuesta de carreras</span>
						</a>
					</li>
				</ul><!-- /.list-buttons -->
			</div><!-- /.shell -->	
		</section><!-- /.button-section -->

		<section class="section-slider">
			<div class="shell">
				<div class="section-body">
					<div class="slider-games">
						<div class="slider-clip">
							<ul class="slides">
								<li class="slide"> 									
									<div class="slide-content" style="background-image: url(css/images/temp/game1.jpg); ">
										<div class="slide-caption">
											<p>Caliente</p>
											
											<span>Club&reg;</span>
										</div><!-- /.slide-caption -->
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide">									
									<div class="slide-content" style="background-image: url(css/images/temp/game2.jpg); ">
										<div class="slide-caption">
											<p>Liga MX,</p>
											
											<span>Clausura 2016</span>
										</div><!-- /.slide-caption -->
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide"> 									
									<div class="slide-content" style="background-image: url(css/images/temp/game3.jpg); ">
										<div class="slide-caption">
											<p>&iexcl;Coronemos</p>
											
											<span>a Mamá!</span>
										</div><!-- /.slide-caption -->
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide"> 									
									<div class="slide-content" style="background-image: url(css/images/temp/game4.jpg); ">
										<div class="slide-caption">
											<p>Torneo</p>
											
											<span>2016</span>
										</div><!-- /.slide-caption -->
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide">									
									<div class="slide-content" style="background-image: url(css/images/temp/game1.jpg); ">
										<div class="slide-caption">
											<p>Caliente</p>
											
											<span>Club&reg;</span>
										</div><!-- /.slide-caption -->
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->
							</ul><!-- /.slides -->
						</div><!-- /.slider-clip -->
					</div><!-- /.slider-games -->
				</div><!-- /.section-body -->

				<div class="section-actions">
					<a href="#" class="btn btn-border">
						<i class="ico-square"></i>

						todas las promociones
					</a>
				</div><!-- /.section-actions -->
			</div><!-- /.shell -->
		</section><!-- /.section-slider -->

		<section class="section-features">
			<div class="shell">
				<div class="section-head">
					<h2>Selecciona tu línea de juego</h2>
				</div><!-- /.section-head -->
				
				<div class="section-body">
					<ul class="features">
						<li class="feature">
							<a href="#"> 		
								<span class="feature-image" style="background-image: url(css/images/temp/feature1.jpg);"></span><!-- /.feature-image -->
								
								<span class="feature-content">
									<span class="icon-wrapper">
										<i class="ico-robot-small"></i>
									</span><!-- /.icon-wrapper -->
									
									<small>Máquinas de Juego</small>
									
									<strong>Diviertete</strong>
								</span><!-- /.feature-content --> 
							</a>
						</li><!-- /.feature -->
						
						<li class="feature">
							<a href="#"> 	
								<span class="feature-image" style="background-image: url(css/images/temp/feature2.jpg);"></span><!-- /.feature-image -->
								
								<span class="feature-content">
									<span class="icon-wrapper">
										<i class="ico-die-small"></i>
									</span><!-- /.icon-wrapper -->
									
									<small>Mesas de juego</small>
									
									<strong>Apuesta</strong>
								</span><!-- /.feature-content --> 
							</a>
						</li><!-- /.feature -->
						
						<li class="feature">
							<a href="#"> 	
								<span class="feature-image" style="background-image: url(css/images/temp/feature3.jpg);"></span><!-- /.feature-image -->
								
								<span class="feature-content">
									<span class="icon-wrapper">
										<i class="ico-ball-small"></i>
									</span><!-- /.icon-wrapper -->
									
									<small>Apuesta deportiva</small>
									
									<strong>Apasionate</strong>
								</span><!-- /.feature-content --> 
							</a>
						</li><!-- /.feature -->
						
						<li class="feature">
							<a href="#"> 
								<span class="feature-image" style="background-image: url(css/images/temp/feature4.jpg);"></span><!-- /.feature-image -->
								
								<span class="feature-content">
									<span class="icon-wrapper">
										<i class="ico-horse"></i>
									</span><!-- /.icon-wrapper -->
									
									<small>Apuesta de carreras</small>
									
									<strong>Emocionate</strong>
								</span><!-- /.feature-content --> 
							</a>
						</li><!-- /.feature -->
					</ul><!-- /.features -->
				</div><!-- /.section-body -->
			</div><!-- /.shell -->
		</section><!-- /.section-features -->

		<section class="section-gray">
			<div class="shell">
				<div class="subscribe">
					<form action="?" method="post">
						<div class="subscribe-head">
							<h2>Regístrate a nuestro newsletter</h2>
						</div><!-- /.subscribe-head -->

						<div class="subscribe-wrapper">
							<a href="#" class="btn btn-red btn-form">Deseo recibir noticaciones</a>

							<div class="subscribe-body-hidden">
								<div class="subscribe-inner">
									<label for="mail" class="hidden">Email</label>
									
									<input type="email" id="mail" name="mail" value="" placeholder="Email" class="subscribe-field">
									
									<input type="submit" value="Enviar" class="subscribe-btn btn btn-red">
								</div><!-- /.subscribe-inner -->

								<div class="subscribe-actions">
									<ul class="list-checkboxes">
										<li>
											<div class="checkbox">
												<input type="checkbox" name="field-notifications" id="field-notifications">
												
												<label class="form-label" for="field-notifications">Deseo recibir notificaciones</label>
											</div><!-- /.checkbox -->
										</li>
									</ul><!-- /.list-checkboxes -->
								</div><!-- /.subscribe-actions -->
							</div><!-- /.subscribe-body-hidden -->
						</div><!-- /.subscribe-wrapper -->
					</form>
				</div><!-- /.subscribe -->
			</div><!-- /.shell -->
		</section><!-- /.section-gray -->

		<section class="section-map">
			<div class="section-head">
				<div class="shell">
					<h2>Selecciona el casino de tu preferencia</h2>
				</div><!-- /.shell -->
			</div><!-- /.section-head -->
			
			<div class="section-body">
				<div id="googlemap" data-lng="-97.727616" data-lat="18.884188"></div><!-- /#googlemap --> 
			
				<div class="section-content">
					<div class="shell">
						<div class="section-content-head">
							<p>Sucursal</p>
							
							<h2>Tecamachalco</h2>
						</div><!-- /.section-content-head -->
								
						<div class="section-content-body">
							<ul class="list-contacts">
								<li>
									<i class="ico-map"></i>
								
									<p>
										Calle Fuente del molino <br>#49-BCol. San Miguel <br>Tecamachalco Naucalpan, Edo. <br>de México C.P. 53970
									</p>
								</li>
								
								<li>
									<i class="ico-phone"></i>
								
									<p>
										Teléfono: <a href="tel:0155123456789">01 + 55 123456789</a><br>
										Teléfono: <a href="tel:04555123456789">045 + 55 123456789</a><br>
										Teléfono: <a href="tel:77955123456789">779 + 55 123456789</a>
									</p>
								</li>
								
								<li>
									<i class="ico-clock"></i>
								
									<p>Horario : 13:00 pm - 00:00 am <br>Lunes - Domingo</p>
								</li>
								
								<li>
									<i class="ico-car"></i>
								
									<p>Horario : 13:00 pm - 00:00 am <br>Lunes - Domingo</p>
								</li>
							</ul><!-- /.list-contacts -->
						</div><!-- /.section-content-body -->
					</div><!-- /.shell -->
					
					<div class="section-actions">
						<a href="#" class="btn btn-red btn-red-small">
							<i class="ico-human"></i>

							Cómo llegar aquí
						</a>
					</div><!-- /.section-actions -->
				</div><!-- /.section-content -->

			</div><!-- /.section-body -->
		</section><!-- /.section-map -->

		<section class="section-gallery">
			<div class="shell">
				<div class="slider-gallery">
					<div class="slider-clip">
						<ul class="slides">
							<li class="slide">
								<div class="slide-image">
									<img src="css/images/temp/gallery1.jpg" alt="">
								</div><!-- /.slide-image -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-image">
									<img src="css/images/temp/gallery2.jpg" alt="">
								</div><!-- /.slide-image -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-image">
									<img src="css/images/temp/gallery3.jpg" alt="">
								</div><!-- /.slide-image -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-image">
									<img src="css/images/temp/gallery1.jpg" alt="">
								</div><!-- /.slide-image -->
							</li><!-- /.slide -->
						</ul><!-- /.slides -->
					</div><!-- /.slider-clip -->
				</div><!-- /.slider-gallery -->

				<div class="section-head">
					<h2>Caliente</h2>
				</div><!-- /.section-head -->

				<div class="section-entry">
					<p>Sweet roll bonbon icing. Macaroon chocolate cake sweet jelly beans. Sugar plum caramels macaroon. Chocolate bar danish dessert danish sweet roll marzipan.</p>
					
					<p>Cake croissant cheesecake jelly lollipop cotton candy gingerbread biscuit ice cream. Macaroon candy oat cake lemon drops danish. Pastry marzipan danish jujubes chupa chups donut topping. Apple pie liquorice dragée liquorice marzipan gummi bears.</p>
					
					<p>Pastry tootsie roll topping macaroon macaroon dragée gummies. Marzipan ice cream cheesecake fruitcake. Caramels topping candy lemon drops soufflé biscuit. Jelly-o apple pie chocolate tart oat cake gummies. Soufflé pudding icing bear claw.</p>
				</div><!-- /.section-entry -->
			</div><!-- /.shell -->
		</section><!-- /.section-gallery -->
	</div><!-- /.main -->
	<footer class="footer">
		<div class="shell">
			<a href="#" class="btn-top"></a>

			<div class="cols">
				<div class="col col-size1">
					<a href="#" class="logo"></a>

					<ul class="list-partners">
						<li>
							<a href="http://www.caliente.mx">www.caliente.mx</a>
						</li>
						
						<li>
							<a href="http://www.xolos.com.mx">www.xolos.com.mx</a>
						</li>
						
						<li>
							<a href="http://www.grupocaliente.com.mx">www.grupocaliente.com.mx</a>
						</li>
					</ul><!-- /.list-partners -->
				</div><!-- /.col col-size1 -->
				
				<div class="col col-size2">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="#">Líneas De Juego</a>
							</li>
							
							<li>
								<a href="#">Sucursales</a>
							</li>
							
							<li>
								<a href="#">Promociones Y Eventos</a>
							</li>
							
							<li>
								<a href="#">Opciones De Diversión</a>
							</li>
							
							<li>
								<a href="#">Alimentos Y Bebidas</a>
							</li>
							
							<li>
								<a href="#">Juego Responsable</a>
							</li>
						</ul>
					</nav><!-- /.nav-footer -->
				</div><!-- /.col col-size2 -->
				
				<div class="col col-size3">
					<nav class="nav-footer">
						<ul>
							<li>
								<a href="#">Quiénes Somos</a>
							</li>
							
							<li>
								<a href="#">Contacto</a>
							</li>
							
							<li>
								<a href="#">Aviso De Privacidad</a>
							</li>
							
							<li>
								<a href="#">Bolsa De Trabajo</a>
							</li>
							
							<li>
								<a href="#">Ubicaciones</a>
							</li>
						</ul>
					</nav><!-- /.nav-footer -->
				</div><!-- /.col col-size3 -->
				
				<div class="col col-size4">
					<div class="socials-footer">
						<h4>Síguenos</h4>

						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>

								<ul class="socials-dropdown">
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
								</ul><!-- /.socials-dropdown -->
							</li>
							
							<li>
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>

								<ul class="socials-dropdown">
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
								</ul><!-- /.socials-dropdown -->
							</li>
							
							<li>
								<a href="#">
									<i class="fa fa-youtube-play" aria-hidden="true"></i>
								</a>

								<ul class="socials-dropdown">
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
									
									<li>
										<a href="#">Lorem ipsum dolor.</a>
									</li>
								</ul><!-- /.socials-dropdown -->
							</li>
						</ul>
					</div><!-- /.socials-footer -->
				</div><!-- /.col col-size4 -->
			</div><!-- /.cols -->

			<p class="copyright"><strong>&copy; 2016 Casino Caliente</strong> | Todos los Derechos Reservados | <a href="#"><strong>Aviso de Privacidad</strong></a></p><!-- /.copyright -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->
</div><!-- /.wrapper -->
</body>
</html>

